@model ClinicalAutomationSystem_MVC_.Models.DoctorModel
@{
    ViewBag.Title = "EditProfile";
}

<h2>EditProfile</h2>

@using (Html.BeginForm("EditProfile", "Doctor"))
{
<div>



    First Name:@Html.TextBoxFor(m => m.FName)
    <br />
    <br />
    Last Name:@Html.TextBoxFor(m => m.LName)
    <br />
    <br />
    Specialization :@Html.DropDownListFor(m => m.SpecializeId, Model.ListS)
    <br />
    <br />
    Total Experience:@Html.TextBoxFor(m => m.Experience)
    
    <br />
    <br />
    Gender:Male-@Html.RadioButtonFor(m => m.Gender, "male")
    Female-@Html.RadioButtonFor(m => m.Gender, "female")
    <br />
    <br />
    
    <input type="submit" value="submit" />

    <br />
    @ViewBag.text
</div>
}