@model ClinicalAutomationSystem_MVC_.Models.ChangePasswordModel
@{
    ViewBag.Title = "ChangePassword";
}

<h2>ChangePassword</h2>

@using (Html.BeginForm("ChangePassword", "Home"))
{
<div>
    Old Password: @Html.TextBoxFor(m => m.OldPassword)
    <br />
    <br />
    New Password: @Html.TextBoxFor(m => m.NewPassword)
    <br />
    <br />
    Confirm Password: @Html.TextBoxFor(m => m.ConfirmNewPassword)
    <br />
    <br />
    <input type="Submit" value="Submit" id="btnSubmit" />
    <br />
    <br />
    @ViewBag.text
</div>
}