@model ClinicalAutomationSystem_MVC_.Models.ViewOrderModel
@{
    ViewBag.Title = "ViewOrders";
}

<h2>ViewOrders</h2>
<div class="col-md-4">
    @{ Html.RenderPartial("_PatientMenu");}
</div>
@*<div style="float:right;width:80%;padding-left:40px;">*@


<div class="col-md-8">
    <div>
        <table class="table table-striped table-responsive" border="1">
            <tr>
                <th>Drug Name</th>
                <th>Order Date</th>
                <th>Order Status </th>
                <th>Order Quantity</th>
               

            </tr>
            @foreach (var item in Model.ListOrder)
            {
                <tr>

                    <td>@item.DrugName</td>
                    <td>@item.OrderDate</td>
                    <td>@item.OrderStatus</td>
                    <td>@item.OrderQtty</td>
                    

                </tr>
            }
        </table>
    </div>
</div>
@*</div>*@

